@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* CSS VARIABLES */
:root{
    --header-height:3rem;
    --nav-width:324px;

/* FONT AND FONT SIZES*/

    --main-font:'Poppins',sans-serif;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size:.75rem;
/* MARGINS */
    --mb-1:.5rem;
    --mb-2:1rem;
    --mb-3:1.5rem;
    --mb-4:2rem;
    --mb-5:2.5rem;
}
/* BASE */
*,::before,::after{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color:#eae7dc;
    line-height: 1.6;
    overflow-x: hidden;

}

h1,h2,h3,p{
    margin: 0;
}
h3{
    font-weight: 600;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}



.section{
    padding: 1rem 0 2rem;
    min-height: 100vh;
}
.section-title{
    font-size: var(--h1-font-size);
    color: var(--section-font);
    background-color: var(--section-background);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% 2rem);
    margin-left:var(--mb-2) ;
    margin-right: var(--mb-2);
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 1000;
    background-color:#e98074;
    box-shadow: 0 2px 4px rgba(32, 32, 32, 0.349);
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}
.nav_menu{
    position:fixed;
    z-index: 11;
    top:-12rem;
    left: 0;
    width: 100%;
    height: 25vh;
    padding: 3rem;
    background-color: #e8514f;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_close{
    position: absolute;
    top: 0;
    left: 0.5rem;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}
.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--nav-fonts);
    font-weight:700;
    text-transform: uppercase;
    transition: .3s;
    background-color: var(--body-color);
    padding: 0.5rem 2.2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
}
.nav_link:hover{
    background-color: #17252a;
    /* border: 4px solid var(--body-color);  */
}

.nav_link::after{
    background-color: #17252a;
}
.nav_toggle{
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--nav-toggle);
}

.nav_logo{
    color: var(--nav-toggle);
    
}
.show{
    top: 0%;
}


/* page1  */
.page1_container{
    height: calc(100vh - 3rem);
    align-items: center;
    z-index: 5;
    justify-content: center;
    display: flex;
}
.page1_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: #d8c3a5;
    height: 25rem;
    width: 17rem;
    /* top: -3rem; */
    position: relative;
    border-radius: 0.9rem;
}
.QR_container{
    position: relative;
    margin-top: -9rem;
    margin-bottom: 3rem;
    background-color: transparent;
    height: 12.5rem;
    width: 13rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.page1_input{
    position: fixed;
    border-radius: 2rem;
    border: 0.1px solid white;
    background-color: #fff;
    height: 2rem;
    font-size: 0.8rem;
    width: 15rem;
    position: relative;
    font-family: 'Poppins',sans-serif;
    top: -1.6rem;
    z-index: 1;
    transition: 0.8s linear;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:4rem;
    margin-top: 1rem;
    width:9rem;
}
.button{
    position: relative;
    top: -1rem;
    height: 26px;
    border: none;
    background-color: #e8514f;
    box-shadow: 1px 2px 4px #e98074d2;
    border-radius: 1rem;
    padding: 2px 12px;
    color: white;
    transition: 0.3s linear;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s linear;
    cursor: pointer;   
}
.button-toggle{
    background-color: #d8c3a5;
    border: 2px solid #e98074;
}
.footer{
    position: absolute;
    bottom: 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    text-align: center;
}
.footer img{
    width: 2.5rem;
    margin-bottom: 0.4rem;
}
#qr-image{
    width: 99%;
    height: 99%;
    border-radius: 0.3rem;
    padding: 0.3rem;
    box-shadow: 0 2px 7px #d16a4a;
}

/* ABOUT */

@media screen and (min-width:500px){
    .nav_toggle,.nav_close,.nav_logo{
        display: none;
    }
    .nav_menu{
       display: none;
    }
    .page1_data{
        height: 28rem;
        width: 20rem;
    }
    .page1_input{
        width: 17rem;
        height: 2.5rem;
    }
    .button{
        height:35px ;
        width:13rem;
        padding: 5px;
    }
    /* .QR_container{
        
    } */
    .button-container{
        width: 13rem;
        height: 80px;
        justify-content: space-between;
    }
    .footer{
        font-size: 1.4rem;
    }
}
@media screen and (min-width:785px){
    .page1_button{
        width: initial;
    }
    .nav_menu{
        display: none;
    }
    .nav_toggle,.nav_close,.nav_logo{
        display: none;
    }
    .page1_container{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .page1_input{
        width: 20rem;
    }
    #submit-btn{
        top: 0%;
        font-size: 1.2rem;
    }
    /* .footer{
        display: none;
    } */
    .QRcode_title{
        font-size: 1.8rem;
        text-align: left;
    }
    .QRcode_img{
        width: 12rem;
    }
    .button-container{
        height: 5rem;
        margin-top: 0.1rem;
    }
}

@media screen and (min-width:1024px)
{
    .nav_menu{
        display: none;
    }
    body{
        margin: 0;
    }
    .nav_toggle,.nav_close,.nav_logo{
        display: none;
    }
    .nav_link{
        font-size: 1.3rem;
    }
    .page1_social_link{
        font-size: 2rem;
    }
    .page1_container{
        height: 100vh;
    }
    .page1_img{
        width: 220px;
        height: 220px;
    }
    .page1_button{
        width: 25%;
    }
    .section{
        padding: 3rem 0 2rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .page1_data_media_query{
        margin-right: 16rem;
    }
    .page1_data{
        height: 35rem;
        width: 30rem;
    }
    .QR_container{
        margin-bottom: 4rem;
    }
    .page1_input{
        width: 25rem;
        height: 3rem;
        font-size: 14px;
    }
    .button-container{
        height: 110px;
        margin-bottom: -6rem;
        margin-top: 3rem;
    }
    .button{
        font-size: 1.1rem;

    }
    

}
